<?php

return [
    "start" => [
        "x" => 200,
        "y" => 4,
        "z" => 200,
    ],
    "rcon" => [
        "ip" => "127.0.0.1",
        "port" => 25575,
        "password" => "<insert password>"
    ],
    "build" => 1,
    "limit" => 1000,
];
